$h1-font-size: 8em;
$h1-line-height: 1;

// Get Jason to give me a size between his H1 & H2
$h2-font-size: 7em; // 120px
$h2-line-height: 1;

$h3-font-size: 6em; // 83px
$h3-line-height: 1;

$h4-font-size: 5em; // 35px
$h4-line-height: 1;

$h5-font-size: 4em; // 33px
$h5-line-height: 1;

$h6-font-size: 3em; // 17px
$h6-line-height: 1;

@mixin heading-style($heading-font-size, $heading-line-height) {
	font-size: $heading-font-size;
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	line-height: $heading-line-height;
}

@mixin link-style() {
	font-family: $base-font-family;
	letter-spacing: 0.155em;
	text-transform: uppercase;
	font-weight: $bold;
}

html,
.p {
	color: $base-font-color;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	line-height: $base-line-height; // desktop line height
	font-size: $base-font-size; // mobile font size
	-webkit-font-smoothing: antialiased;
	@include tablet-portrait-up {
		font-size: $tablet-font-size; // tablet font size
	}
	@include tablet-landscape-up {
		font-size: $desktop-font-size; // desktop font size
	}
	@include desktop-up {
		font-size: $base-font-size; // base or large font size
	}
}

p {
	margin-top: 0;
	margin-bottom: 20px;
	a {
		text-decoration: none;
	}
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin: 0 0 30px 0;
	letter-spacing: 4.5px;
	text-transform: uppercase;
}

h1,
.h1 {
	@include heading-style($h1-font-size, $h1-line-height);
}

h2,
.h2 {
	@include heading-style($h2-font-size, $h2-line-height);
}

h3,
.h3 {
	@include heading-style($h3-font-size, $h3-line-height);
}

h4,
.h4 {
	@include heading-style($h4-font-size, $h4-line-height);
}

h5,
.h5 {
	@include heading-style($h5-font-size, $h5-line-height);
}

h6,
.h6 {
	@include heading-style($h6-font-size, $h6-line-height);
}

a {
	color: $base-font-color;
	text-decoration-skip: auto;
	text-decoration: underline;
	// transition: all $base-duration $base-timing;
	&:focus {
		outline: $focus-outline;
		outline-offset: $focus-outline-offset;
	}
}

hr {
	border-bottom: $base-border;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	margin: $base-spacing 0;
}

blockquote {
	position: relative;
	margin: 0;
	padding: 0;
	font-weight: $bold;
	& > * {
		position: relative;
		z-index: 2;
	}
	&:after {
		content: '';
		display: block;
		width: calc(100% + 2rem);
		height: calc(100% + 20px);
		position: absolute;
		top: -10px;
		left: -1rem;
		right: -1rem;
		bottom: -10px;
		z-index: 1;
		background-color: $yellow;
	}
}

// This happens in Hero Style 5 & the Exhibit
// Will be built out to happen on all interior page titles
@mixin underline() {
	text-shadow: 0.03em 0 rgba(255, 255, 255, 0), -0.03em 0 rgba(255, 255, 255, 0),
		0 0.03em rgba(255, 255, 255, 0), 0 -0.03em rgba(255, 255, 255, 0),
		0.06em 0 rgba(255, 255, 255, 0), -0.06em 0 rgba(255, 255, 255, 0),
		0.09em 0 rgba(255, 255, 255, 0), -0.09em 0 rgba(255, 255, 255, 0),
		0.12em 0 rgba(255, 255, 255, 0), -0.12em 0 rgba(255, 255, 255, 0),
		0.15em 0 rgba(255, 255, 255, 0), -0.15em 0 rgba(255, 255, 255, 0);
	background-image: linear-gradient(90deg, $yellow 50%, $transparent 50%);
	background-size: 200% 10px;
	background-repeat: no-repeat;
	display: inline !important;
	padding-bottom: 3px;
	// background-position: 100% 100%; // Before animation
	background-position: 0% 100%; // Animation position
	.ready & {
		background-position: 100% 100%;
		transition: background-position 800ms ease-in-out 400ms;
	}
	.animate & {
		background-position: 0% 100%;
	}
}

// Titles
.title {
	// New lines in a title group
	.line {
		// margin-bottom: 0;
		// line-height: $heading-line-height;
		// @include tablet-landscape-up {
		// 	display: block;
		// }

		&:after {
			clear: both;
			content: '';
			display: block;
		}
	}
	.bold {
		font-weight: 600;
	}
	.underline {
		@include underline();
	}
}
