.block .title {
	// display: inline-block;
	// margin-bottom: -30px;

	margin: 0;
	position: relative;
	overflow: hidden;
	flex: none;
}
// .block.hero.style-1 .col,
// .line,
// .word {
// 	overflow: hidden;
// }

.splitting .word {
	animation: slide-in 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
	animation-delay: calc(3ms * var(--word-index) + 1000ms);
}

@keyframes slide-in {
	from {
		transform: translateY(1.5em);
		opacity: 0;
	}
}
