.block.basic-content {
	&.align-right {
		.row {
			margin-left: auto;
		}
	}
	.row {
		max-width: 600px;
	}
	.stat {
		@include heading-style(6em, 1);
		text-transform: uppercase;
	}
}

.box {
	position: relative;
	overflow: hidden;
	.item {
		transform: translateY(150%);
		transition: 600ms all ease-in-out;
		&.visible {
			transform: translateY(0);
		}
	}
}
