.block.basic-content {
	&.align-right {
		.row {
			margin-left: auto;
		}
	}
	.row {
		max-width: 600px;
	}
	.stat {
		@include heading-style(6em, 1);
		text-transform: uppercase;
	}
}

.goals {
	// display: flex;
	// justify-content: space-between;
	// flex-wrap: wrap;
}
