.block.cards {
	padding: 100px 0;
	color: #fff;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.title {
		font-size: 4em;
	}
	.items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.item {
		position: relative;
		width: 100%;
		max-width: 520px;
		margin-bottom: 60px;
		padding: 80px 80px 140px;
		border: 1px solid #fff;
	}
	.btn {
		position: absolute;
		bottom: 40px;
		left: 80px;
	}
}
