.block.hero {
	.row {
		height: 100vh;
		min-height: 800px;
		display: flex;
		align-items: center;
	}
	.label {
		font-size: 22px;
		font-family: Avuhneer-Bold;
		font-style: italic;
		font-weight: bold;
		letter-spacing: 1px;
	}
	.title {
		margin-bottom: 0;
	}
}
