.block.listing {
    width: 100%;
    .row {
        display: flex;
    }
    .col {
        &:nth-of-type(1) {
            flex: 1 0 30%;
        }
        &:nth-of-type(2) {
            flex: 1 0 70%;
        }
    }

    .items {
        display: flex;
    }

    .item {
        width: 300px;
        &.item-content {
            width:100%;
            max-width: 500px;
        }
        
    }


    // .block-title {
    //     margin-bottom: 25px;
    // }
    // .item {
    //     width: 300px;
    //     .image {
    //         display: block;
    //         width: 250px;
    //         height: 150px;
    //         margin-bottom: 20px;
    //         object-fit: cover;
    //     }
    //     .item-title {
    //         margin-bottom: 15px;
    //     }
    // }
}
