<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Styleguide</title>
	<script src="https://kit.fontawesome.com/15caa5e93e.js" crossorigin="anonymous"></script>
</head>

<body>
	<div id="app">
		<%= require('html-loader!../components/header.html') %>

			<div class="wrapper">
				<h1>Heading 1</h1>
				<h2>Heading 2</h2>
				<h3>Heading 3</h3>
				<h4>Heading 4</h4>
				<h5>Heading 5</h5>
				<h6>Heading 6</h6>
				<p>This is a paragraph. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam.
					Pellentesque
					ornare sem lacinia quam venenatis
					vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
			</div>

			<%= require('html-loader!../components/footer.html') %>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</body>

</html>