<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Styleguide</title>
	<script src="https://kit.fontawesome.com/15caa5e93e.js" crossorigin="anonymous"></script>
</head>

<body>
	<div id="app">
		<%= require('html-loader!../components/header.html') %>

		<div class="block hero style-1">
			<div class="wrapper">
				<div class="row">
					<div class="col">
						<h1 class="label">Divesity and Inclusion</h1>
						<h2 class="title">
							<span class="line">All the branding in the world means nothing </span>
							<span class="line">if you can’t stand for something.</span>
						</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="block cards">
			<div class="wrapper">
				<div class="row">
					<div class="col">
						<ul class="items">
							<li class="item">
								<h3 class="title">Mentorship</h3>
								<p class="meta">Unpaid.</p>
								<p class="details">Our staff volunteers their time and expertise to help mentor people of color and under-represented minority groups who
								would like to excel in the areas of: advertising, copywriting, design, account management, marketing, and website
								development.</p>
								<a href="#" class="btn">Contact for mentorship</a>
							</li>
							<li class="item">
								<h3 class="title">Intership</h3>
								<p class="meta">Some pay.</p>
								<p class="details">Every year, we open internship opportunities for students or fresh graduates to work alongside our team.</p>
								<a href="#" class="btn">Apply for internship</a>
							</li>
							<li class="item">
								<h3 class="title">Career</h3>
								<p class="meta">Full-time / part-time paid hire.</p>
								<p class="details">While we don’t always have jobs available, we are always developing our pool of people we love to work with. We post
								active job openings on LinkedIn, but if you’d like to start connecting, let’s grab coffee.</p>
								<a href="#" class="btn">Reach out</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="block cta">
			<div class="wrapper">
				<div class="row">
					<div class="col">
						<h2>What to learn more about who we are?</h2>
					</div>
					<div class="col">
						<a href="#" class="btn">Read more</a>
					</div>
				</div>
			</div>
		</div>

		<%= require('html-loader!../components/footer.html') %>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</body>

</html>