<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Diversity and Inclusion</title>
	<script src="https://kit.fontawesome.com/15caa5e93e.js" crossorigin="anonymous"></script>
</head>

<body>
	<div id="app">
		<%= require('html-loader!../components/header.html') %>

		<div class="block hero style-1">
			<div class="wrapper">
				<div class="row">
					<div class="col">
						<h1 class="label">Divesity and Inclusion</h1>
						<h2 class="title">
							<span class="line"><span class="thin">All the branding in the world means nothing
								</span></span>
							<span class="line"><span class="thin">if you can’t </span>stand for
								something.</span>
						</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="block basic-content">
			<div class="wrapper">
				<div class="row">
					<div class="col">
						<h2 class="title">
							<div class="box">Statement</div>
						</h2>
						<p>We’re white AF and we hate it. We said we’d fix this before, but boy did we miss the mark. So here’s a public-facing
						page on our website so you can help keep us accountable. If you’re an under-represented person in our industry, this is
						for you. Our aim is to earn your interest in joining our team and make it as easy as possible to get together.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="block basic-content align-right">
			<div class="wrapper">
				<div class="row">
					<div class="col">
						<h2>Goals</h2>
						<p>Create a set of programs to ensure that the next hire in each department is an underrepresented person of color.
						Internally, we will commit to education, training, and discussions to hold ourselves accountable.</p>
						<div class="goals">
							<div class="goal">
								<div class="stat">
									<span class="line">
										<span class="thin">Mentor</span> 10 <span class="thin">people of color</span>
									</span>
								</div>
							</div>
							<div class="goal">
								<div class="stat">
									<span class="line">
										<span class="thin">Find</span> 20 <span class="thin">qualified candidates</span>
									</span>
								</div>
							</div>
							<div class="goal">
								<div class="stat">
									<span class="line">
										<span class="thin">Hire</span> 3 <span class="thin">people of color</span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	

		<div class="block cards">
			<div class="wrapper">
				<div class="row">
					<div class="col">
						<ul class="items">
							<li class="item">
								<h3 class="title">Mentorship</h3>
								<p class="meta">Unpaid.</p>
								<p class="details">Our staff volunteers their time and expertise to help
									mentor
									people of color and under-represented minority groups who
									would like to excel in the areas of: advertising, copywriting, design,
									account
									management, marketing, and website
									development.</p>
								<a href="#" class="btn">Contact for mentorship</a>
							</li>
							<li class="item">
								<h3 class="title">Intership</h3>
								<p class="meta">Some pay.</p>
								<p class="details">Every year, we open internship opportunities for students
									or
									fresh graduates to work alongside our team.</p>
								<a href="#" class="btn">Apply for internship</a>
							</li>
							<li class="item">
								<h3 class="title">Career</h3>
								<p class="meta">Full-time / part-time paid hire.</p>
								<p class="details">While we don’t always have jobs available, we are always
									developing our pool of people we love to work with. We post
									active job openings on LinkedIn, but if you’d like to start connecting,
									let’s
									grab coffee.</p>
								<a href="#" class="btn">Reach out</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<%= require('html-loader!../blocks/listing.html') %>

		<div class="block cta">
			<div class="wrapper">
				<div class="row">
					<div class="col">
						<h2 class="title">What to learn more about who we are?</h2>
					</div>
					<div class="col">
						<a href="#" class="btn">Read more</a>
					</div>
				</div>
			</div>
		</div>

		<%= require('html-loader!../components/footer.html') %>
				
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</body>

</html>