<ul class="social-menu">
	<li class="menu-item">
		<a href="https://www.facebook.com/" target="_blank">
			<span class="visually-hide-text">Facebook</span>
			<i class="fab fa-facebook-f"></i>
		</a>
	</li>
	<li class="menu-item">
		<a href="https://twitter.com/" target="_blank">
			<span class="visually-hide-text">Twitter</span>
			<i class="fab fa-twitter"></i>
		</a>
	</li>
	<li class="menu-item">
		<a href="https://www.linkedin.com/" target="_blank">
			<span class="visually-hide-text">LinkedIn</span>
			<i class="fab fa-linkedin-in"></i>
		</a>
	</li>
</ul>